<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper
  class="borderBottom"
  [config]="config"
  >
      <ng-template swiperSlide>
        <div [ngStyle]="{'background-image': 'url(assets/3.jpg)'}"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div [ngStyle]="{'background-image': 'url(assets/3.jpg)'}"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div [ngStyle]="{'background-image': 'url(assets/3.jpg)'}"></div>
      </ng-template>
  </swiper>

  <ion-list>
    <ion-label>
      <h4>Farmacy Nearby</h4>
      <p>Find your product</p>
    </ion-label>
  </ion-list>

</ion-content>
